
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input:focus-visible{
    outline: 0;
}

.main{
    background-color: rgb(32, 81, 146);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    min-width: 400px;
    padding: 10px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 50%);
  background: rgb(37, 23, 102);
  border-radius: 2px;
  margin-top: 10px;
}

/* #pass-box{
    width: 100%;
    height: 80%;
    display: flex;
    box-shadow: 0 4px 10px rgb(0 0 0 / 50%);
    margin-top: 10px;
    font-size: 30px;
    padding: 10px;
    border-radius: 4px;
    background-color: rgb(15, 13, 62);
    color: aliceblue;
} */

.row{
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    color: aliceblue;
    font-size: 20px;
}

label {
    user-select: none;
}

#btn {
    width: 100%;
    font-size: 20px;
    outline: 0;
    border: 0;
    padding: 10px;
    background-color:rgb(15, 13, 62);
    color: white;
    margin-top: 10px;
    border-radius: 5px;
}

.chk{
    width: 20px;
    height: 20px;
   
}

.numbox{
    width: 80px ;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
}

h1{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#copyText {
    padding: 6px 11px;
    font-size: 15px;
    font-weight: bold;
    background-color: #121212;
    color: #efefef;
  }

  .result-container {
	background-color: rgba(0, 0, 0, 0.4);
    color: #efefef;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	font-size: 18px;
	letter-spacing: 1px;
	padding: 12px 10px;
	height: 50px;
	width: 100%;
}

/* .result-container #result {
  	word-wrap: break-word;
	max-width: calc(100% - 40px);
} */

.result-container .btn {
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
	height: 40px;
	width: 40px;
}

.btn {
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 8px 12px;
	background-color: #3B3B98;
}

@media(max-width:880px){

    .main{
        background-color: rgb(32, 81, 146);
        min-height: 100vh;
        display: inline-block;
    }
    
    .box{
        min-width: 50px;
        display: inline-flex;
        box-shadow: 0 4px 10px rgb(0 0 0 / 50%);
      background: rgb(37, 23, 102);
    }


}